body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #8A9EA0;
}

.App {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #44497041;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

select, 
button {
  width: 200px;
  padding: 10px 20px;
  appearance: none;
  outline: none;
  border-radius: 20px;
  margin: 10px;
  border: 1px solid transparent;
  transition: .3s;
  cursor: pointer;
}

select {
  background-color: #444970;
  color: white;
}

button:focus,
select:focus {
  outline: 4px solid #FFF980;
}

select:hover {
  background-color: #30334b;
  color: white;
}

button {
  background-color: #FB2860;
  color: whitesmoke;
  margin-top: 2rem;
}

button:hover {
  background-color: #a32b4b;
}

ul {
  list-style: none;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.result ul {
  padding: 0;
  width: 100%;
  background-color: #444970;
  text-align: center;
  border-radius: 20px;
}

.result ul li {
  padding: 10px 0;
}

.result ul li:not(.result ul li:last-child) {
  border-bottom: 1px solid #30334b;
}

strong {
  font-size: 1.5rem;
}

.price {
  font-size: 2.5rem;
}