
body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #8A9EA0;
}

.App {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1 {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form select, 
form button {
  width: 200px;
  padding: 10px 20px;
  appearance: none;
  outline: none;
  border-radius: 20px;
  margin: 10px;
  border: 1px solid transparent;
  transition: .3s;
  cursor: pointer;
}

form {
  background-color: #44497041;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

form select {
  background-color: #444970;
  color: white;
}

form select:hover {
  background-color: #30334b;
  color: white;
}

form button {
  background-color: #FB2860;
  
  color: whitesmoke;
  margin-top: 2rem;
}

form button:hover {
  background-color: #a32b4b;
}